.button {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-alignment: baseline-left;
}
.label {
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 10;
}
#menuPane {
    -fx-background-color: #208F3A;
}