.button {
    -fx-background-radius: 25; /* Adjust the radius as needed */
    -fx-background-color: #01A01A;
}
#anchorPaneLoginPage{
    -fx-background-color: #208F3A;
}
#paneLoginPage{
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
}