#title {
    -fx-background-color: #208F3A;
    -fx-text-alignment: center;
}

#buttonPane > .button {
    -fx-background-radius: 5;
}
#saveButton {
    -fx-background-color: #01A01A;
}

#cancelButton {
    -fx-background-color: #A9A7A7;
}

